/* Template created by mexalim */
/* ICQ 590881221 Email mexalim@gmail.com */

html,body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { 
	margin: 0;
	padding: 0;
}
body, html {
	background: #fff;
	color: #000000;
	font-size:10px;
	background:url(../images/bg.jpg) #ffffff no-repeat top;
	font-family:Verdana, Geneva, sans-serif;
}
/*общее*/
input, button, textarea {
	font-family:Verdana, Geneva, sans-serif;
	
}
h2 {
	font-weight:normal;
}
table {
	 border:0;
   padding:0;
   border-collapse:collapse;
border-spacing: 0px;
 }

td {
	vertical-align:top;
	padding:0;

}
a {
	color:#232323;
	text-decoration: none;
}
a:hover {
	color: #6e6e6e;

}
a img  {
	border: 0 none;
}
ul,li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.f_textarea {
	background-color: #f4f4f4;
	border-bottom: 1px #CCC solid;

}
.tableform {
	width: 100%;
}
.tableform td {
	padding: 5px;
}
	.label {
		padding-bottom: 5px;
	}
li.lfield {
	margin-bottom: 5px;
}
	li.lfield input {
		width: 95%;
	}
	li.login_av {
		text-align:center;
	}
	li.loginbtn {
		text-align:center;
	}
	li.lpasres {
		text-align:right;
		margin-bottom: 10px;
	}
	li.lbotooms {
		text-align:right;
	}
	li.marginli {
		margin: 10px 0px;
		
	}
		



.clr {
	clear:both;
	display:block;
}
.spacer {
	padding: 7px ;
}

.f_input, .f_textarea {
	height: 23px;
	border: 1px #dedede solid;
	background-color: #fff;
	padding: 0px 5px;
	font-size:10px;
	color:#7c7b7b;
	width: 80%;
	line-height: 23px;
}
	.f_input:focus, .f_textarea:focus  {
		border: 1px #b4d36f solid;
		color: #57711e;
		background-color: #cdeb8b;
	}
.f_textarea {
	height: auto;
	padding: 0px;
}
.checkbox {
	margin: 3px 0px;
}
.fieldsubmit {
	margin-top: 10px;
}
.vote {
	margin-bottom: 5px;
}
	h4.vote_title {
		margin-bottom: 10px;
		font-size: 12px;
	}
/*контент*/
#wrapper {
	width: 997px;
	margin: 0px auto;
	
}
.speedbar {
	position:absolute;
	bottom: 7px;
	left: 5px;
	color:#fff;
}
	.speedbar a {
		color:#ff7400;
	}
.head {
	background:url(../images/black_bg.png);
	height: 100px;
	position:relative;
	margin: 0px 12px;
}
	.h_logo_block {
		position:absolute;
		left: 10px;
		top: 10px;
	}
	.h_right_block {
		width: 500px;
		position:absolute;
		right: 0px;
	}
		ul.h_main_menu {
			height: 25px;
			margin-bottom: 10px;
		}
		ul.h_main_menu li {
			display:inline;
			float:left;
			margin-right: 5px;
		}
		ul.h_main_menu li a {
			display:block;
			float:left;
			color: #fff;
			font-weight:bold;
			font-size: 12px;
			padding: 5px 10px;
		}
		ul.h_main_menu li a:hover {
			background-color: #000;
			color:#ff8219;
		}
	ul.searchbar li {
		display:inline;
		float:left;
	}
	.h_search_inp {
		background-color: #141414;
		border: 1px #242424 solid;
		height: 23px;
		padding: 0px 5px;
		color: #fff;
		font-size: 10px;
		width: 420px;
		line-height: 23px;
	}
	.h_search_bottom {
		background:url(../images/search_bt.png);
		height: 25px;
		color:#fff;
		font-weight:bold;
		border: 0px;
		cursor: pointer;
		width: 58px;
	}
	.h_line {
		background:url(../images/line.png);
		width: 991px;
		height: 22px;
		position:absolute;
		bottom: -16px;
		left: -12px;
	}
.content {
}
	.content_top {
		background:url(../images/cont_top.png);
		height: 14px;
	}
	.content_bg {
		background:url(../images/cont_bg.png);
		
	}
		.cont_bg_in {
			padding: 20px 25px 1px 25px;
			margin-bottom: 40px;
		}
	.content_bt {
		background:url(../images/cont_bt.png);
		height: 17px;
		font-size:10px;
		color: #939393;
		line-height: 17px;
		padding: 0px 20px 12px 20px;
	}
		.cb_left {
			float:left;
		}
		.cb_right {
			float:right;
		}
	.columLeft {
		float:left;
		width: 630px;
	}
	.columRight {
		width: 290px;
		float:right;
	}
	.block {
		margin-bottom: 20px;
		background-color: #f1f1f1;
		position: relative;
		padding-top: 25px;
	}
		.block_title {
			background:url(../images/block_title_bg.png);
			width: 248px;
			height: 29px;
			line-height: 27px;
			font-size:12px;
			color:#fff;
			font-weight:bold;
			position:absolute;
			top: -10px;
			left: -3px;
			padding: 5px 4px;
		}
			.block_title a {
				color: #fff;
			}
		.block_title img {
			margin-right: 10px;
			float:left;
		}
		.block_cont {
			padding: 10px;
		}
		.block_cont_other {
			margin: 20px 0px 60px 0px;
		}
	.main_news {
		background-color: #f1f1f1;
		border-top: 4px #ff8825 solid;
		padding: 5px 10px 30px 10px;
		position:relative;
		margin-bottom: 15px;
	}
		.mn_left_colum {
			width: 110px;
			float:left;
		}
			.mn_left_colum img, .mn_left_colum a img {
				width: 100px;
			}
		.mn_right_colum {
			float:right;
			width: 81%;
		}
		.mn_title {
			height: 24px;
			position:relative;
			top: -5px;
			

		}
			h2.mn_title_in  {
				font-size: 18px;
				color: #fff;
				display: inline;
				padding: 0px 5px 5px 5px;
				background: url(../images/news_title_bg.png) repeat-x ;
				height: 19px;
								
			}
			h3.oc_oth_title {
				color: #666666;
				font-size: 13px;
			}
			a.mn_traler_window {
				background:url(../images/pleyer_bt.png) 0% 0%;
				display:block;
				float:right;
				width: 27px;
				height: 17px;
				margin-top: 3px;
			}
				a.mn_traler_window:hover {
					background:url(../images/pleyer_bt.png) 0% 100%;
				}
		.mn_picts img, .mn_picts a img {
			width: 60px;
			margin-right: 5px;
		}
		.mn_text {
			margin-top: 5px;
			background:url(../images/mn_text_bg.png) repeat-x bottom;
			padding-bottom: 10px;
			margin-bottom: 10px; 
		}
		ul.mn_links {
			position:absolute;
			bottom: 3px;
			right: -4px;
		}
			ul.mn_links li {
				display: inline;
				float:left;
			}
			ul.mn_links li a {
				display:block;
				margin-left: 10px;
				background:url(../images/opt_menu.png) no-repeat left;
				color:#898989;
				padding: 0px 0px 0px 15px;
				font-weight: bold;
				height: 26px;
				line-height: 26px;
			}
			ul.mn_links li a:hover {
				color:#ff8825;
			}
			ul.mn_links li a.mn_l_more {
				background:url(../images/more_bt.png) 0% 0%;
				height: 26px;
				line-height: 24px;
				color:#fff;
				width: 72px;
				padding: 0px 0px 0px 15px;
			}
			ul.mn_links li a.mn_l_more:hover {
				background:url(../images/more_bt.png)  0% 100%;
			}

		.kino_news {
			background:url(../images/mn_text_bg.png) repeat-x bottom;
			padding: 10px 0px;
			margin-bottom: 10px;
		}
			.kn_left {
				float:left;
				color: #ff8825;
				width: 80px;
				text-align:center;
			}
				.kn_left img, .kn_left a img {
					width: 70px;
					margin-top: 5px;
				}
			.kn_right {
				float:right;
				width: 85%;
			}
				h2.kn_title {
					font-size: 12px;
					font-weight:bold;
					color: #ff8825;
					margin-bottom: 5px;
				}
				a.kn_more {
					color: #ff8825;
				}
		ul.top_news_block li a {
			display:block;
			background:url(../images/top_news_bg.png) no-repeat left;
			color:#616161;
			padding: 5px 10px 5px 15px;
		}
			ul.top_news_block li a:hover {
				background:url(../images/top_news_bg_a.png) no-repeat left;
				color:#929292;
			}
		
		.lb_left {
			float:left;
			}
			.login_av img {
				width: 100px;
			}
		.lb_right {
			float:right;
			width: 65%;
			padding-top: 10px;
		}
		ul.loginenter li a {
			display:block;
			padding: 1px;
		}
			ul.loginenter li a:hover {
				color: #666;
			}
		a.prof_link {
			color: #fff;
			margin: 0px 0px 4px 2px;
			display:block;
		}
.other_content {
	margin-bottom: 30px;
}
	h2.oc_title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.oc_links {
		margin-bottom: 10px;
	}
		.oc_links a {
			color: #ff7400;
			font-size: 10px;
		}
	.oc_content {
		background-color: #f1f1f1;
		border-top: 3px #e0e0e0 solid;
		padding: 10px;
	}	
		.info_mess {
			background-color: #cdeb8b;
			color:#57711e;
			border-top: 3px #aac66b solid;
		}
		.fn_padding {
			padding: 0px;
		}
		.occ_news_img {
			margin-bottom: 20px;
		}
		.occ_news_img img, .occ_news_img a img {
			width: 120px;
			border-left: 3px #ff7400 solid;
		}
		.occ_left {
			float:left;
			width: 123px;
			padding: 10px 0px 0px 0px;
		}
		.occ_right {
			width: 77%;
			font-size: 12px;
			float:right;
			padding: 10px;
		}
	
	ul.film_info li {
		border-bottom: 1px #e5e5e5 dashed;
		padding: 5px 0px 5px 15px;
		font-size:10px;
		background:url(../images/top_news_bg.png) no-repeat center left ;
	}
		ul.film_info li:hover {
			background:url(../images/top_news_bg_a.png) #fff no-repeat center left ;
		}
	ul.film_info li strong {
		color:#ff7400;
		display:block;
		float:left;
		width: 120px;
	}
	.fn_links {
		margin-top: 10px;
		text-align:right;
		font-style:italic;
		margin-bottom: 10px;
		display:block;
		font-size:10px;
		width: 100px;
		float:right;
	}
		.fn_links a {
			display:block;
		}
	ul.fn_tabs {
		height: 20px;
		line-height: 20px;
		margin-bottom: 10px;
		margin-top: 20px;
		border-bottom: 3px #ff7603 solid;
	}
	.fn_tabs li {
		float: left;
		display: inline;
		font-size: 10px;
		color:#b5b5b5;
		cursor:pointer;
		padding: 0px 5px 0px 5px;
		font-weight: bold;
		margin-right: 8px;
		background-color: #f1f1f1;
		
	}
	.fn_tabs li:hover, .fn_tabs li.current {
		color:#fff;
		background-color: #ff7603;
	}
	
	.fn_box, .fn_boxin {
		display: none;
		padding: 10px;
	}
		.fn_box img, .fn_box a img {
			max-width: 140px;
			margin: 0px 5px;
		}
	.fn_box.visible {
		display: block;
	}
	
.rating_block {
	background:url(../images/rating_block_bg.png);
	width: 107px;
	height: 17px;
	margin: 5px 0px;
	padding-left: 15px;
	overflow:hidden;
}
.comments_block {
	margin-top: 40px;
}
.comments {
	margin-bottom: 15px;
}
	.com_title {
		background:url(../images/com_title_bg.png) no-repeat left bottom;
		font-size:18px;
		position:relative;
		padding-bottom: 15px;
	}
	.com_left {
		float:left;
		font-size: 12px;
		color:#12597c;
		margin: 0px 5px 5px 0px;
	}
		.com_left img, .com_left a img {
			width: 50px;
			
		}
	.com_right {
		margin-left: 60px;
	}
	.com_in {
		color:#6a6a6a;
		background-color: #ededed;

		padding: 5px;
	}
	.com_opt_menu {
		height: 18px;
		position:absolute;
		right: 0px;
		top: 5px;
	}
	.com_opt_menu a {
		display:block;
		float:left;
		width: 19px;
		height: 18px;
		background-color: #d3d3d3;
		margin-left: 2px;
	}
	.com_opt_menu a:hover {
		background-color: #ff7400;
	}
	.editorcomm {
		padding-bottom: 10px;
	}
.all_news_block {
	position:relative;
	width: 977px;
	left: 50%;
	margin-left: -488px;
	height: 400px;
}
	a.main_film_more {
		height: 400px;
		width: 977px;
		display:block;
	}
.hideAllnews {
	position:absolute;
	background: url(../images/black_bg.png) 0px 0px;
	width: 260px;
	top: 20px;
	right: 0px;
}

a.hideBtn {
	display:block;
     background:url(../images/close.png) 0px -30px;
	width: 63px;
	height: 15px;
	position:absolute;
	right: -70px;
} 
	a.hideBtn:hover {
		  background:url(../images/close.png) 0px -45px;
	}
a.hideBtn.show {
	
	 background:url(../images/close.png) 0px 0px;

   } 
	a.hideBtn.show:hover {
		
		  background:url(../images/close.png) 0px -15px ;
	}
		
.hideCont{
   display:none;
} 
	.hb_text h1 {
		background:url(../images/all_news_title.png) no-repeat;
		padding-left: 20px;
		color:#fff;
		font-weight:bold;
		font-size: 10px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	ul.all_news li {
		margin-bottom: 5px;
	}
	ul.all_news li a {
		display:block;
		background:url(../images/black_bg.png);
		border-left: 4px #000 solid;
		padding: 3px 3px 3px 7px;
	}
		ul.all_news li a:hover {
			border-left: 4px #ff841d solid;
		}
	.an_title {
		font-weight:bold;
		color:#fff;
		display:block;
	}
	.an_text {
		color:#b2b2b2;
		display:block;
	}
	.hb_other_text {
		padding: 5px;
		color:#fff;
	}
	a.an_all {
		color:#ff841d;
		font-style:italic;
		text-align:right;
		padding: 3px;
		float:right;
	}
/*userinfo*/
	.uinf_lcol {
		float:left;
		width: 123px;
		text-align:center;
	}
		.uinf_lcol img, .uinf_lcol a img {
			max-width: 123px;
		}
	.uinf_rcol {
		float:right;
		width: 78%;
	}
	ul.uinf_ussep {
		margin-bottom: 15px;
	}
		ul.uinf_ussep li {
			margin-bottom: 2px;
		}
/**/
ul.stats_page {
	margin-bottom: 15px;
}
ul.stats_page li {
	margin-bottom: 10px;
}
	.sp_title {
		font-weight:bold;
		font-size:12px;
		color: #ff7503;
		margin-bottom: 15px;
		border-bottom: 1px #dedede dashed;
		padding-bottom: 5px;
	}
		
	.sp_numb {
		color: #ff7503;
	}
	
.footer {
	background: #d8d8d8;
	margin: 0px 13px 0px 12px;
	position:relative;
	padding: 30px 10px 10px 10px;
	border-top: 3px #ff7400 solid;
}
	ul.f_main_menu {
		position:absolute;
		right: 0px;
		top: 0px;
	}
	ul.f_main_menu li a {
		background-color:transparent;
		font-size:10px;
		color:#808080; 
	}
		ul.f_main_menu li a:hover {
			background-color: #ff7400;
			color:#fff;
		}
.navigation {
	font-size:10px;
	text-align:center;
}
.navigation span {
	padding: 4px;
	background-color: #cdeb8b ;
	color: #57711e;
}
.navigation a {
	padding: 4px;
	background-color: #f1f1f1;
}
	
.ui_lcol {
	float:left;
	width: 120px;
}
	.ui_avatar img, .ui_avatar a img {
		width: 100px;
	}
.ui_rcol {

}
	
ul.rel_news li a {
	display:block;
	font-size:11px;
	padding: 5px 0px;
	border-bottom: 1px #e5e5e5 dashed;
}
	ul.rel_news li a:hover {
		background-color:#cdeb8b;
		color:#57711e;
	}
	